@media screen and (max-width:370px) {
    .user_content_top_img {
        width: 90px !important;
        height: 90px !important;
        border-radius: 45px;
    }
    .user_content_top_text {
        font-size: 1rem !important;
        margin-left: 1rem !important;
        margin-top: 15px !important;
    }
}

/*内容部分样式*/

.content.notop {
    padding-top: 0;
}

.content {
    overflow-x: hidden;
    font-size: 1rem;
    background: #fff;
}

.content .content_box {
    margin: 0 auto 4rem;
    overflow: hidden;
    height: 100%;
}

.badge {
    position: absolute;
    top: -0.4rem;
    right: -0.8rem;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1rem;
    font-size: 16px;
    font-family: serif;
    color: #fff;
    background-color: #FF9934;
    border-radius: 0.6rem;
    display: none;
}

.address_null {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
}

.address_null img {
    width: 80%;
    margin-left: 10%;
}

.address_null .address_null_text {
    font-size: 1.3rem;
    margin: 2rem 0 4rem 0;
    font-family: cursive;
}

.address_null .address_null_btn {
    padding: 0.7rem 0;
    width: 100%;
    text-align: center;
    background: #306EB9;
    color: white;
    font-size: 1.1rem;
}